<div class="flex-container">
  <div style="width:500px">
  </div>
  <div style="text-align:center; font-family: Arial">
    <h1>
      {{ title }}!
    </h1>
    <div *ngIf = "banana$ | async as banana">
      <form>
        <button class="local-button-border" type="submit" (click)="newBanana()">New Banana</button>
        <button class="local-button-border" type="submit" (click)="peelBanana()">Peel Banana</button>
        <button class="local-button-border" type="submit" (click)="eatBanana()">Eat Banana</button>
        <button class="local-button-border" type="submit" (click)="timeHop()">Time Hop</button>
      </form>

      <div style="height: 30px"></div>
      <div *ngIf="!banana.isPeeled && banana.color === 'yellow'">
        <a href='https://photos.google.com/share/AF1QipNVMZzrsLqAcVe9cNMXYsl4DeVvNK1NnkZWGdjXPCgoQwp9do4Zb6iwEM0xoE44kg?key=b2dsMjdvV0V0UUtrRzBQb2lCM0VCZEtmLXRnV2tR&source=ctrlq.org'><img width="300" alt="New Banana" src='https://lh3.googleusercontent.com/ZVIR5v6FgIvBtGQJRFARKkThwgINPIYhQC4_LJ8iQfEfy-kPgmHBkMviL5jSrj0Rr9eUJxGhhJNRFx9aoqPq0XfxA0yL3uerAOs6tENzS5YrW7LCuGf6Jq5AOLMxwc-60iU9QTieug=w2400' /></a>
        <h2>You should peel your banana.</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining >= 9 && banana.color === 'yellow'">
        <a href='https://photos.google.com/share/AF1QipP8L9-5YjP0bjRCb8Mv1LJsZHbIPM9Cm8ffSZGj-nBOjo0DXIToiBwN9ggTFGaPpg?key=RzZCZGNnZnZaMUU2bklQTnNQUTJZcHRlbWpaMVp3&source=ctrlq.org'><img width="300" alt="Peeled Banana"
        src='https://lh3.googleusercontent.com/UqIseepVkNZcjHENDO26urK5TcTB8g4OuB58S13FGDVjHxbJrGLI_PPV00wXil-F-jAGZCK9UlcdYGQTCVmyrlj3CZkbYNnwvt8k6KjiZX1d-WZ5agiysC6DJmFKWNCMpx8UItxcAg=w2400' /></a>
        <h2>Yum, looks delicious!</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining < 9  && banana.bitesRemaining >= 6 && banana.color === 'yellow'">
        <a href='https://photos.google.com/share/AF1QipPUxn8onPvZurcD53Q7RDT-kbOVO6e8kxT1RoAWT57aP68DJa24rGxInT2vTUD_1g?key=Z3ZKYTZFNTloWGh1YVByUFpESl9OVTljd3hrTDFR&source=ctrlq.org'><img width="300" alt="Banana Little Eaten" src='https://lh3.googleusercontent.com/V2rjC6LToE3mllhHsuoin0FgQRMIfUIosU2kqx5ZQq2ydRFUsiB359yamoClDTjfj0osFGK_xJ5PAxqBm4sxAGQD01N9b_KkjQ7j1WriVcyts70flZ3_abWSggm0BG-hJ25G-PETUQ=w2400' /></a>
        <h2>Tasty!</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining < 6 && banana.bitesRemaining >= 3 && banana.color === 'yellow'">
        <a href='https://photos.google.com/share/AF1QipM0esCmP9ATAoWutW3_sqt1Y-qGpEbZUBa-yRwurkUDXs3Eni-YJxd21E-l4xpJVQ?key=cEdOZHBBZlBQRG9DZzc2dUpIQjhMLXE5dHJwc0NR&source=ctrlq.org'><img width="300" alt="Banana Lot Eaten" src='https://lh3.googleusercontent.com/B2faq-0sbI5s2FkGx-9voNSU8cDqCctcLMHKQInnyHhpcNoZ3OUeyoDLIKElw08t75NsdxRDIoFtxToMv1R5DGw17oVAafRAzOJwHfIYH_-bH3alVPwZHOyjok9Pkinq8v35zeCP0A=w2400' /></a>
        <h2>Tasty!</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining < 3 && banana.color === 'yellow'">
        <a href='https://photos.google.com/share/AF1QipO9pYi_lnLJuZ0RI5hpc4mCDgZP71nq-FDN09EZ6g7ytZgKDpUS0G4jQh02iYOLSA?key=UHBpSnBtcFBCbkRPY3V1enhubWIzX3VRdGUzR1N3&source=ctrlq.org'><img width="300" alt="Eaten Banana" src='https://lh3.googleusercontent.com/YcOltSxDivi4vF-wy4W4xlJhKcjWXxt7F-9IjiedI_DbYTa24LbbNqeziP1vqSigyn2zeSANnLSoTapxBdnercSQCOKnQTFbY0zjcKnKFdLwjXLN0m4DLJ0Cp7iHsBj1QEuCYAevPw=w2400' /></a>
        <h2>That was a great banana!</h2>
      </div>
      <div *ngIf="!banana.isPeeled && banana.color === 'brown'">
        <a href='https://photos.google.com/share/AF1QipMoGRW0kkUdjyih0pqNKJepNLzltHqSlomo4hwL5-t537_XnAEBT9xknhGjxLuGWw?key=MmtoenhST2haM0JxRFJPaVRXa0lOWDQ5RVhzc2Fn&source=ctrlq.org'><img width="300" alt="Old Unpeeled Banana" src='https://lh3.googleusercontent.com/AgvLinydnfXbbw6Qcg-WoiSPs9BJEOsus3z5TSovtz54xlfsZPgkOnTK4FlBNK9npY4rgxBG--15tbq12q8gIZhTa1oJLjW1qGjAGfMUBhBH0hSRca9SQXxO8uWFXEn5HMkY528q9A=w2400' /></a>
        <h2>Bummer, you missed your chance</h2>
      </div>
      <div *ngIf="banana.isPeeled &&  banana.bitesRemaining > 0 && banana.color === 'brown'">
        <a href='https://photos.google.com/share/AF1QipP_CS-cmGqBcDhIqvHMhByaCVmR1xYUA0LL6QIQ0fL7FpKPvPVHBQ6fGGCDWO9hjw?key=VTZ2a3lHWU50UDlHYjhfRldOOUFoOHd0dWJKNVdn&source=ctrlq.org'><img width="300" alt="Old Peeled Banana" src='https://lh3.googleusercontent.com/_wTQFNKfu_JIcxqb_9J84tgF7vvymy_0OzSHrqTPuxwY1FtcECwi89lV3dhaYMvsfpozs06mLWzkoMOBOT5OiLbkowyLyT6JkxctBNsI9uw99cgewCdkndRNfesasYMzhjyu09TSuA=w2400' /></a>
        <h2>Time to get a new banana</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining < 10  && banana.bitesRemaining >= 6 && banana.color === 'brown'">
        <a href='https://photos.google.com/share/AF1QipPsKPzsINhYo6UGsWfCyqUFFjpGbnBpO4vpDI74iMKuBybVlOtcqf0bZtLSbrhdrg?key=Q3k0bWlXRE0tMm5zbWpDRHN5Q3RwSG93Y3FXc3Bn&source=ctrlq.org'><img width="300" alt="Banana Little Eaten" src='https://lh3.googleusercontent.com/X3_SH8EqfQv8CJOi-4gyrp9caeYSqCk7i8WCOijyX9HTWGIKVTQ_EPoLg1t__ZWyWf6-D7REXuPcXg2aHEmfWH7V0JY8-M-O0yDUxIALK0mAULJL4MNdJU3TU8lqZsvlokfmouBR7A=w2400' /></a>
        <h2>I wouldn't eat any more of that banana...</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining < 6 && banana.bitesRemaining >= 3 && banana.color === 'brown'">
        <a href='https://photos.google.com/share/AF1QipOeNz8tUagq4Z-7xVfeKek0p3bdoWURuEattl-l6mVMG9AO8o5Qz86S2chLkL95ng?key=NDVsR196UjgyVU9Gb3hXR01JclBuZF9CUExCVlp3&source=ctrlq.org'><img width="300" alt="Banana Lot Eaten" src='https://lh3.googleusercontent.com/zvKarv9xGpSwpWFviHN4inZsQMSvN2YPv9upDLzltoQCpTD7_Y901n1JOdijY9l_ov6A18Y85YMUadpzMwC6lCYhCqSYVtZOg7iwHfe_0wAB3Bxq5dmGM8rqUl3Vmo7YOqQP7scDGQ=w2400' /></a>
        <h2>I wouldn't eat any more of that banana...</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining === 0 && banana.color === 'brown'">
        <a href='https://photos.google.com/share/AF1QipMYV6facdvJM72ZRmtceqiFKuyDawrL82uMv-qCXhG3mp99dFU9AJomVHn32aARFQ?key=TklkMlVTVV9FQ1Y2cWU5V21UQkJWRTM4WW9CYnNn&source=ctrlq.org'><img width="300" alt="Old Empty Banana Peel" src='https://lh3.googleusercontent.com/RLLQRn3Hv2hlksl_GjeeqdeQe1AtuKmfxTKR2iG4Sm0fDNwzMPOS1iy5pUgpT21WTGi0UwfnUtuuGjRt6WG0tl7UxsA0TtuaqgsG2PPXxvTWGmiHpX2gRY1DRli944sSabKj03RHww=w2400' /></a>
        <h2>Time to get a new banana</h2>
      </div>
      <mat-card style="margin-top: 50px">
        <mat-card-content>
          <div style="text-align:left; font-family: Arial">
              <h3>isPeeled = {{banana.isPeeled}}</h3>
              <h3>bitesRemaining = {{banana.bitesRemaining}}</h3>
              <h3>color = {{banana.color}}</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div style="width:100px">
  </div>
</div>
